<div class="buttons">
  <a [routerLink]="['/add']" mat-raised-button>
    <mat-icon>add</mat-icon>
    <span class="btn-field">Добавить</span>
  </a>
  <a [routerLink]="['/view']" mat-raised-button>
    <mat-icon>visibility</mat-icon>
    <span class="btn-field">Просмотр</span>
  </a>
  <a [routerLink]="['/edit']" mat-raised-button>
    <mat-icon>edit</mat-icon>
    <span class="btn-field">Редактировать</span>
  </a>
  <a [routerLink]="['/delete']" mat-raised-button>
    <mat-icon>delete_forever</mat-icon>
    <span class="btn-field">Удалить</span>
  </a>
</div>
