.btn-back {
  margin-left: 20px;
  background-color: rgb(156, 155, 155);
  color: rgb(248, 240, 240);
}

.btn-back:hover {
  background-color: rgb(104, 103, 103);
  font-weight: bold;
  color: #fff;
}

.car-group {
  padding-left: 10px;
}

mat-form-field {
  margin-right: 10px;
}
