<div class="buttons">
  <a mat-raised-button href="">
    <mat-icon>add</mat-icon>
    <span class="btn-field">Добавить</span>
  </a>
  <a href="" mat-raised-button>
    <mat-icon>visibility</mat-icon>
    <span class="btn-field">Просмотр</span>
  </a>
  <a href="" mat-raised-button>
    <mat-icon>edit</mat-icon>
    <span class="btn-field">Редактировать</span>
  </a>
  <a href="" mat-raised-button>
    <mat-icon>delete_forever</mat-icon>
    <span class="btn-field">Удалить</span>
  </a>
</div>
